body{
  
  padding-bottom:1000px;
  font-family:pt sans,Arial;


  position:relative;
  top:0;
  left:0;
  right:0;
  height:1000px;
  background-color: lightgray;
}
p{
  margin:0;
  font-size:14px;
  font-family:pt sans,Arial;
}





.background-img-container{

   position:absolute;
   top:98px;
   
   left:0;
   right:0;
  
  height:600px;
  margin: -8px -9px 0 -8px;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(245, 244, 244, 0.183)), url('../amazon-images/background-image.jpg');
  background-repeat:no;
  background-size:cover;
  background-position:center;
  
}





.product-grid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  column-gap:16px;
  row-gap:16px;
  position:absolute;
  left:0;
  top:250px;
  z-index:200;
  margin-left:24px;
  margin-right:24px;
  
  
}

.product-1{
  padding:24px;
  background-color: white;
  display:flex;
  flex:1;
  flex-direction:column;
  /* width:256px; */
  height:360px;
  position:relative;


}
.title-div{
  font-weight:700;
  font-size:21px;
  padding-bottom:24px;
}
.deal-span{
  
  padding:4px;
  background-color:rgb(205, 15, 46);
  color:white;
  
  margin-right:4px;
}
.deal{
  margin-top:8px;
  color:rgb(205, 15, 46);
  font-size:14px;
}
.product-name{
  margin-top:8px;
  display:inline-block;
  font-size:14px;
  color:rgba(0, 0, 0, 0.749);
}

.product-img-container{
  display:flex;
  justify-content: center;
}
.product-img{
  width:100%;
  height:280px;
}
.all-deals-link{
  position:absolute;
  font-size:14px;
  bottom:5px;
  left:24px;
  color:rgb(0, 179, 255);
  
}
.product-img-small{
  height:256px;
  width:100%;
}

.product-img-container-flex{
  /* display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap:12px;
  row-gap:36px;
  padding-left:0; */

  display:flex;
  flex:1;

  align-items:start;
  justify-content:space-between;
  
} 

.product-div-4{
  display:flex;
  flex:1;
  flex-direction:column;
  align-items:start;
  justify-content: center;

  
  
}
.img-4{
  
  width:120px;
  height:100px;  
}

.product-ad{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:360px;

}
.kneenex-ad-container{
  display:flex;
  width:272px;
  height:120px;
  background-color: white;
  margin-bottom:20px;
  padding:14px;
  justify-content:space-between;
  

}
.kneenex-ad-img{
  
  width:96px;
  height:96px;
}
.ad-img-container{
  display:flex;
  justify-content: center;
  align-items:center;
}
.prime-ad-img{
  width:100%;
  object-fit:cover;
  
}
.add-link{
  font-size:14px;
  padding-bottom:32px;
  color:rgb(0, 179, 255);
}

.book-img-container{
  display:flex;
  margin-top:24px;
  margin-bottom:24px;
  justify-content: center;
  
}
.book-img{
  width:55%;
  
}

.book-details-div{
  margin-top:0;
  margin-bottom:10px;
}
.price-span{
  text-decoration: line-through;
  font-size:14px
}
.size-span{
font-size:18px;
font-weight:bold;
}

.deals-div{
  position:absolute;
  left:0;
  right:0;
  bottom:30px;
  height:340px;
  margin:16px;
  padding-left:12px;
  padding-right:12px;
  background-color:white;

}

.todays-deal-grid{
  
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  
  align-items: center;
}

.product-today-deal{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:180px;
  
}

.today-img-container{
  display:flex;
  flex:1;
  
  
  
  align-items:center;
  justify-content: center;
  
  position:relative;
 
  
  
}

.today-deal-img{
  
  width:100%;
  

}
.deals-details{
  position:absolute;
  
  bottom:2px;
  
  margin-bottom:8px;
}
.title-div-deals{
  padding:12px;
  font-size: 21px;
  font-weight: bold;
}
.title-div{
  display:flex;
  
}
.today-deal-link{
  padding:12px;
  padding-top:16px;
  font-size:14px;
  color:rgb(0, 179, 255);
  font-weight:400;

}

